.about-us {
  padding: 38px 0 0;

  @media screen and (max-width: 1024px) {
    padding: 36px 16px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 550px;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: stretch;
      max-width: 720px;
    }
  }

  &__text-container {
    @media screen and (max-width: 768px) {
      max-width: 450px;
      margin: 32px auto 0;
    }
  }

  &__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    margin: 0;

    @media screen and (min-width: 1280px) {
      max-width: 600px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  &__subtitle {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    margin: 16px 0 0;

    @media screen and (min-width: 1280px) {
      max-width: 650px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__link {
    color: #92e3a9;
  }

  &__social-items {
    display: flex;
    padding: 0;
    margin: 16px 0 0;
    gap: 12px;
    list-style: none;
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #040404;
    border-radius: 50px;
    font-size: 20px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: #000;
    text-decoration: none;

    &:hover {
      background-color: #000;
    }
  }

  &__banner {
    @media screen and (max-width: 768px) {
      max-width: 450px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__image {
    width: 100%;
  }
}
