.pricing {
  padding: 80px 0 0;

  @media screen and (max-width: 1024px) {
    padding: 60px 16px 0;
  }

  &__wrapper {
    max-width: 1280px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      max-width: 550px;
    }
  }

  &__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    margin: 0;

    @media screen and (max-width: 1024px) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  &__subtitle {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    margin: 16px 0 0;

    @media screen and (max-width: 1024px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    margin: 38px 0 0;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 22px 0;
    }
  }

  &__card {
    background-color: #f7f7f7;
    max-width: 400px;

    @media screen and (max-width: 1024px) {
      max-width: 320px;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: none;
    }
  }

  &__card-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    padding: 20px;
    color: #fff;
    background-color: #92e3a9;
    margin: 0;

    &_type_growth {
      background-color: #4dad68;
    }

    &_type_enterprise {
      background-color: #318b4a;
    }
  }

  &__text-container {
    padding: 20px;
  }

  &__heading {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    margin: 0;
  }

  &__subheading {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 16px 0 0;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }
  }

  &__list {
    margin: 18px 0 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    display: flex;
    align-items: center;
    gap: 16px;

    &_plus {
      &::before {
        content: "";
        display: block;
        background-image: url("https://img.icons8.com/color/48/000000/plus--v1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 20px;
        height: 20px;

        @media screen and (max-width: 768px) {
          max-width: 20px;
          width: 100%;
        }
      }
    }

    &_minus {
      &::before {
        content: "";
        display: block;
        background-image: url("https://img.icons8.com/color/48/000000/minus.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 20px;
        height: 20px;

        @media screen and (max-width: 768px) {
          max-width: 20px;
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media screen and (max-width: 768px) {
      gap: 14px;
    }
  }
}
