.video {
  padding: 46px 0 0;

  @media screen and (max-width: 1024px) {
    padding: 46px 16px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      max-width: 550px;
    }
  }

  &__text-container {
    @media screen and (max-width: 768px) {
      max-width: 450px;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    margin: 0;

    @media screen and (min-width: 1280px) {
      max-width: 450px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  &__subtitle {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    margin: 16px 0 0;

    @media screen and (max-width: 1024px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    justify-content: space-between;
    margin: 38px 0 0;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, 480px);
    }

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 48px 0;
    }
  }

  &__iframes {
    position: relative;
  }

  &__iframe {
    width: 100%;
    display: block;
  }

  &__from-frame {
    position: relative;
  }
}
